/* Estilos para la página home.html*/
body {
    font-family: mifuente, sans-serif;
    display: flex;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-image: url("../Recursos/kikphotorealistic.png");
    background-size: cover;
    background-repeat:no-repeat ;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    color: crimson;

}

h2 {
    text-align: center;
    margin-top: 40px;
    color: rgb(230, 204, 220);


}

/* Contenedor general*/
#chart-container {
    width: 80%;
    max-width: 600px;
    margin: 20px auto;
}

/* Boton de inicio*/
#start-quiz {
    margin-top: 100px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFA726;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    font-family: miFuente;

}

#start-quiz:hover {
    background-color: #45a049;
}
/* Contenedor del gráfico*/
#canvas-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 20px;
    background-color: #f89b9b;

    border-radius: 10px;

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    max-width: 90%;

    width: 600px;

}

@font-face {
    font-family: "miFuente";
    src: url("../Recursos/Nosifer-Regular.ttf");
}